.App {
  text-align: center;
  font-size: 12px;
  font-weight:500;
}
body{
  background-color: rgb(255, 255, 255);
}
.header{
  font-size: 35px;
  text-align: center;
  color:rgb(43, 225, 238);
  height: 60px;
  padding: 3px;
  background-color: rgb(6, 16, 54);

}
.checkbox{
  position: absolute;
  float: left;
  margin-left: 6%;
  font-size: 20px;
  margin-top: 30px;
}
.hydranet{
  font-size: 33px;
  margin-left: 10%;
  position: relative;
  float: left;
}
.hdxlogo{
  position: relative;
  float: left;
  height: 45px;
  width: 45px;
  margin-top: 4px;
  margin-left: 6px;
}
.Navbar{
  background-color: #020730;
  height: 75px;
  color:azure;
  padding: 5px;
  margin-top: 5px;
}
.nav{
  position: relative;
  float: left;
  margin-left: 20px;
  font-size:20px;
  font-size: 15px;
  }
.navs{
  float: right;
  float: top;
  margin-right: 20%;
  
}
.navnumber{
  position: absolute;
  float: bottom;
  margin-top: 30px;
  margin-left: 20px;
  color: rgb(192, 255, 255);
  
}
.navtext{
  position: relative;
  float: top;
  font-size: 20px;
  color: rgb(1, 183, 183);
}
.btn-primary{
  font-size: 20px;
  position: absolute;
  right: 0;
  margin-right: 6%;
  margin-top: 4px;
}
.bodyhdx{
  display: block;
  float: left;
  height: 1500px;
  width: 85%;
  margin-left: 10%;
}
.bodyshdx{
  display: none;
  float: left;
  height: 1500px;
  width: 100%;
}
.bodyghdx{
  display: none;
  float: left;
  height: 1500px;
  width: 100%;
}
.body0{
  float: left;
  height: 35px;
  background-color: rgb(15, 15, 45);
  width: 85%;
  margin-left: 10%;
}
body{
  background-color: rgb(15, 15, 45);
}
.line{
  float: left;
  height: 20px;
  width: 85%;
  background-color: rgb(15, 15, 45);
  font-size: 15px;
  color: rgba(255, 255, 255, 0.832);
}
.line1{
  float: left;
  height: 28px;
  background-color: rgb(15, 15, 45);
  font-size: 15px;
  width: 80%;
  margin-left: 10%;
  border-bottom: 2px solid white;
  margin-bottom: 5px;
  color: rgb(237, 159, 159);
}
.address, .amount,.order{
  float: left;
  width: 200px;

}
.order{
  width: 20px;
}
.address{
  width: 400px;
  margin-right: 20px;
}
.amount{
  float: left;
  text-align: left;
  width: 130px;
}
.amount1{
  float: left;
  text-align: left;
  width: 180px;
  margin-right: 10px;
}
.sort{
  float: left;
  color: white;
  border: none;
  background-color: rgb(38, 44, 130);
  font-size: 14px;
  border-radius: 5px;
  padding: 5px;
}
.sort1{
  float: left;
  color: white;
  font-size: 16px;
  padding: 3px;
}

@media screen and (max-width: 900px){
  .App {
    font-size: 6px;
  }
  body{
    background-color: rgb(255, 255, 255);
  }
  .header{
    font-size: 15px;
    text-align: center;
    color:rgb(43, 225, 238);
    height: 30px;
    padding: 3px;
    background-color: rgb(6, 16, 54);
  }

  .hydranet{
    font-size:15px;
    margin-left: 0%;
    position: relative;
    float: left;
  }
  .hdxlogo{
    position: relative;
    float: left;
    height: 20px;
    width: 20px;
    margin-top: 2px;
    margin-left: 6px;
  }
  .Navbar{
    background-color: #020730;
    height: 25px;
    color:azure;
    padding: 1px;
    margin-top: 5px;
  }
  .nav{
    position: relative;
    float: left;
    margin-left: 20px;
    font-size: 15px;
    }
  .navs{
    float: right;
    float: top;
    margin-right: 20%;
  }
  .navnumber{
    position: absolute;
    float: bottom;
    margin-top: 30px;
    margin-left: 20px;
    color: rgb(192, 255, 255);
  }
  .navtext{
    position: relative;
    float: top;
    font-size:8px;
    color: rgb(1, 183, 183);
  }
  .btn-primary{
    font-size: 8px;
    position: absolute;
    right: 0;
    margin-right: 6%;
    margin-top: 4px;
  }
  .bodyhdx{
    display: block;
    float: left;
    height: 1500px;
    width: 95%;
    margin-left: 0%;
  }
  .bodyshdx{
    display: none;
    float: left;
    height: 1500px;
    width: 100%;
  }
  .bodyghdx{
    display: none;
    float: left;
    height: 1500px;
    width: 100%;
  }
  .body0{
    float: left;
    height: 18px;
    background-color: rgb(15, 15, 45);
    width: 99%;
    margin-left: 0%;
  }
  body{
    background-color: rgb(15, 15, 45);
  }
  .line{
    float: left;
    height: 13px;
    width: 99%;
    background-color: rgb(15, 15, 45);
    font-size:6px;
    color: rgba(255, 255, 255, 0.832);
  }
  .line1{
    float: left;
    height: 14px;
    background-color: rgb(15, 15, 45);
    font-size:6px;
    width: 99%;
    margin-left: 0%;
    border-bottom: 1px solid white;
    margin-bottom: 5px;
    color: rgb(237, 159, 159);
  }
  .address, .amount,.order{
    float: left;
    width: 50px;
  
  }
  .order{
    width: 20px;
  }
  .address{
    width: 150px;
    margin-right: 7px;
  }
  .amount{
    float: left;
    text-align: left;
    width: 40px;
  }
  .amount1{
    float: left;
    text-align: left;
    width: 80px;
    margin-right: 2px;
  }
  .sort{
    float: left;
    color: white;
    border: none;

    font-size: 7px;
    border-radius: 3px;
    
    padding: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  .sort1{
    float: left;
    color: white;
    font-size:7px;
    padding: 2px;
  }
}